
<div class="row d-flex">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h1 class="text-center">Login</h1>
        <form #user="ngForm" (ngSubmit)="ValidateUser(user.value)" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon [icon]="usericon"></fa-icon></span>
                </div>
                <input type="text" id="uid" name="uid" ngModel placeholder="Username"  >
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="lock"></fa-icon></span>
                  </div>
                <input type="password" id="pwd" name="pwd" ngModel class="form-control" placeholder="password" >
              </div>
              <input type="submit" class="btn btn-primary form-control" value="Login">
        </form>

    </div>
    <div class="col-sm"></div>
</div>
