<p>rentcars works!</p>
<div class="row">
  <div class="col-4"></div>

  <div class="col-4">
    <form>
        <div class="col">
            <label for="day1">From Date</label>
            <input type="date" id="day1" class="form-control" required/>
          </div>
          <div class="col">
            <label for="day2">To Date</label>
            <input type="date" id="day2" class="form-control" required/>
          </div>
      <div class="col">
        <input
          type="button"
          class="btn btn-primary form-control"
          value="submit"
          (click)="selectDay()"
        />
      </div>
    </form>
  </div>
  <div class="col-4"></div>
</div>
<div *ngIf="d">
    <p>Car Id: {{ cid }}</p>
    <p>Car Name: {{ cname }}</p>
    <p>Number of day: {{ diffDay }}</p>
    <p>Total Price: {{totalcost}}</p>
</div>


