<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CarRental</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="Home"><fa-icon [icon]="home"></fa-icon>Home</a>
      </li>

      <li class="nav-item" *ngIf="IsLogged" >
        <a class="nav-link" routerLink="Login"><fa-icon [icon]="signing"></fa-icon>Logout</a>
      </li>
      <li class="nav-item" *ngIf="!IsLogged">
        <a class="nav-link" routerLink="Login"><fa-icon [icon]="signing"></fa-icon>Login</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="Register"><fa-icon [icon]="register"></fa-icon>Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="View"><fa-icon [icon]="car"></fa-icon>View Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rent">Rent Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact"><fa-icon [icon]="contact"></fa-icon>Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

