<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h1 class="text-center">Register</h1>
    <form #user="ngForm" (ngSubmit)="AddUser(user.value)">
      <div class="form-group">
        <label for="Userid">User Id</label>
        <input type="text" id="Userid" name="UserId" ngModel class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="password"> Password</label>
        <input type="password" name="Password" ngModel class="form-control" id="password" />
      </div>
      <div class="form-group">
        <label for="fname">FirstName</label>
        <input type="text" id="fname" ngModel name="FirstName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lname">LastName</label>
        <input type="text" id="lname" ngModel name="LastName" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email"> Email</label>
        <input type="email" name="Email" ngModel class="form-control" id="email" required />
      </div>

      <div class="form-group">
        <label for="mobile"> Mobile Number</label>
        <input type="text" name="Mobile" ngModel class="form-control" id="mobile" required/>
      </div>
      <br>
      <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" [disabled]="user.form.invalid" value="submit" />
      </div>

    </form>
  </div>
  <div class="col-sm"></div>
</div>

{{response}}